<% permalink = config.url + config.root + post.path %>

<article class="post">
  
  <%= date(post.date, 'MMMM D, YYYY') %>
  <% if (post.tags && post.tags.length){ %>
    <span class="taglist">  &middot; 
    <% count = post.tags.length %>
    <% post.tags.forEach(function(tag, index) { %>
      <a href='<%= config.root + tag.path %>'><%= tag.name %></a> 
    <% }); %>
    </span>
  <% } %>

  <h1 class="post-title"><%- post.title %></h1>
  <section class="post-content article-entry">
    <%- post.content %>
  </section>
  <footer class="post-footer">
    <!--
    <section class="author">
      <h4><%- config.author %></h4>
      <p><%- theme.bio %></p>
    </section>
    -->
  </footer>
</article>

<nav class="pagination" role="pagination">
    <% if (page.prev) { %>
    <a class="newer-posts" href="<%- url_for(page.prev.path) %>">
        ← prev <!--<%- page.prev.title %>-->
    </a>
    <% } %>
    <span class="page-number"> </span>
    <% if (page.next) { %>
    <a class="older-posts" href="<%- url_for(page.next.path) %>">
        <!--<%- page.next.title %>--> next →
    </a>
    <% } %>
</nav>

<!-- Begin Comments Code -->
<div id="comments">
 <div id="disqus_thread"></div>
<script>
  
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//myhongkongzhen.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
<script id="dsq-count-scr" src="//myhongkongzhen.disqus.com/count.js" async></script>
<!-- End Comments Code -->
